.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.title {
  color: #000000;
  font-size: 18px;
  margin: 0;
  width: 70%;
}

.completed {
  text-decoration: line-through;
  color: #9aa5b1;
}

.todo-item input[type='checkbox'] {
  margin-right: 16px;
}

.todo-item input[type='text'] {
  width: 70%;
  height: 36px;
  padding: 6px 10px;
  font-size: 16px;
}

.todo-item button {
  background-color: transparent;
  border: 1px solid #ff0b37;
  color: #ff0b37;
  border-radius: 6px;
  padding: 6px 14px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
}
